# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
env/

# OS
.DS_Store
Thumbs.db

Datasets/*
!Datasets/README.md
!Datasets/Books.csv
!Datasets/Countries_Details.csv
!Datasets/Pakistan_Weather.csv